{% load static %}
<html>
    <head>
        <title>
            {% block title %}Amoren's Crispy Mix{% endblock %}
        </title>
        <link rel="stylesheet"
              href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            // POST Produ
            function request (method="GET", url, data={}, success_cb=null, error_cb=null) {
                $.ajax({
                    type: method,
                    url: url,
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    headers:{"X-CSRFToken": "{{ csrf_token }}"},
                    dataType: "json",
                    success: (res) => {
                        if (success_cb) success_cb(res)
                    },
                    error: (res) => {
                        if (error_cb) error_cb(res)
                    }
                })
            }
        </script>
        <style>
            body {
                background-color: #dc3545;
            }
            .form-group, .container {
                background-color: #fff;
                padding: 10px;
                border-radius: 5px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        </style>
        {% block styles %}
        {% endblock styles %}
    </head>
    <body>
        <div class="container">
            <h1>
                {% block header %}
                    Base
                {% endblock header %}
            </h1>
            {% block content %}{% endblock %}
        </div>
        <script>
            $(document).ready(() => {
            
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();
                today = `${yyyy}-${mm}-${dd}`
                
                $("input[type='date']").each((index, item) => {
                    console.log("Test")
                    $(item).val(today)
                })
            })
        </script>
        <!-- Scripts -->
        <script src="{% static 'bootstrap-4.0.0-dist/js/bootstrap.js' %}"  type="text/javascript" />
{% block scripts %}{% endblock %}
</body>
</html>
