{% extends "base.html" %}
{% block header %}
Purchase Record
{% endblock header %}
{% block content %}
<div class="form mt-5 p-5 border border-2">

    <form id="purchaseForm">
        <div class="row">
            <div class="col">
                <label for="purchaseDate">Date</label>
                <input type="date" id="purchaseDate" class="form-control" />
            </div>

            <div class="col">
                <label for="purchaseSupplier">Supplier/ Vendor</label>
                <select id="purchaseSupplier" class="form-control">
                    <option value="">
                        ...
                    </option>
                    {% for supplier in suppliers %}
                    <option value="{{ supplier.id }}">
                        {{ supplier.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col">
                <label for="purchaseAmount">Amount (PHP)</label>
                <input type="number" step="0.01" id="purchaseAmount" class="form-control" />
            </div>
            <div class="col">
                <label for="purchaseType">Type</label>
                <select id="purchaseType" class="form-control">
                    <option value="">
                        ...
                    </option>
                    {% for key, val in purchase_types %}
                    <option value="{{ key }}">
                        {{ val }}
                    </option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="row">
        </div>
        <div class="row">

            <div class="col">
                <label for="purchaseNotes">Notes:</label>
                <textarea id="purchaseNotes" class="form-control">
                </textarea>
            </div>
        </div>


        <table class="table table-striped suppliesTable">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr class="suppliesRow">
                    <td>
                        <select class="form-control item-select">
                            {% for supply in supplies %}
                            <option value="{{ supply.id }}">
                                {{ supply.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="number" class="form-control quantitySale" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button type="button" class="btn btn-secondary" onClick="addNewSupplyTableRow()">+</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary mb-2">Submit Sale</button>
    </form>
</div>
<script>
    var supplyRowHtml = `
        <tr class="suppliesRow">
            <td>
                <select class="form-control item-select">
                    {% for supply in supplies %}
                        <option value="{{ supply.id }}">
                            {{ supply.name }}
                        </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="number" class="form-control quantitySale" />
            </td>
        </tr>
        `
    function addNewSupplyTableRow() {
        let newSupplyRow = supplyRowHtml;
        $(".suppliesRow").last().after(newSupplyRow)
    }

    $("#purchaseForm").on("submit", (e) => {
        e.preventDefault()

        let supplies = []

        $(".suppliesRow").each((index, item) => {
            // each row get all input data
            let supplyItem = $(item).find(".item-select").find(":selected").val() || null
            console.log($(item).find(".item-select").find(":selected").val())
            if (!supplyItem) return true

            supplies.push({
                "item": String($(item).find(".item-select").find(":selected").val()),
                "quantity": String($(item).find(".quantitySale").val()),
                "supplied_at": String($("#purchaseDate").val())
            })
        })

        let supplier = $("#purchaseSupplier").find(":selected").val() || null
        let data = {
            "type": String($("#purchaseType").val()),
            "amount": String($("#purchaseAmount").val()),
            "notes": String($("#purchaseNotes").val()).trim(),
            "date": String($("#purchaseDate").val()),
        }
        if (supplier) data["supplier"] = supplier
        if (supplies.length > 0) data["supplies"] = supplies

        console.log(data)
        // api call for purchase
        request("POST", "/api/purchase/", data, (res) => {
            alert("Successfully created sale entry.")
            $("#productSale").find(":selected").val(null)

            console.log("qwe", $("tr.suppliesRow"))
            $("tr.suppliesRow").remove()
            $(".suppliesTable").find("tbody").html(supplyRowHtml)
        })
    })

</script>
{% endblock content %}