{% extends "base.html" %}
{% block content %}
    <div class="form-inline">
        <label>Production Report from</label>
        <input type="date"
               id="reportsFrom"
               name="production-from"
               class="form-control report-date-input mx-2"/>
        <label>To</label>
        <input type="date"
               id="reportsTo"
               name="production-to"
               class="form-control report-date-input mx-2"/>
    </div>
    <div class="form-group mt-5">
        <h4>Supply IN</h4>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Supply Item</th>
                    <th>Quantity</th>
                    <th>Date IN</th>
                </tr>
            </thead class="thead-dark">
            <tbody id="supplyList">
            </tbody>
        </table>
        <h4>Total Supplies used</h4>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Supply Item</th>
                    <th>Total</th>
                </tr>
            </thead class="thead-dark">
            <tbody id="supplyTotals">
            </tbody>
        </table>
    </div>
    <div id="perProductSupplyTotals"></div>
    <div>
        <h4>Total Production Per Product</h4>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Product</th>
                    <th>Total Quantity</th>
                </tr>
            </thead class="thead-dark">
            <tbody id="totalPerProduct">
            </tbody>
        </table>
    </div>
    <div>
        <h4>Total Sales (Customer, Product)</h4>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Total Quantity</th>
                </tr>
            </thead class="thead-dark">
            <tbody id="totalSalesPerProduct">
            </tbody>
        </table>
    </div>
    <div>
        <h4>Total Freebies</h4>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Total Quantity</th>
                </tr>
            </thead class="thead-dark">
            <tbody id="totalFreebiesPerProduct">
            </tbody>
        </table>
    </div>
    <div>
        <h4>Current Inventory</h4>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Product</th>
                    <th>Total Quantity</th>
                </tr>
            </thead class="thead-dark">
            <tbody id="currentInventory">
            </tbody>
        </table>
    </div>
    <script>
        function getReportsData (from, to) {
            request("GET", `/api/reports/?from=${ from }&to=${ to }`, {}, (res) => {
                
                // TOTAL SUPPLIES USED 
                let supplyTotalsHTML = ""
                res.production_supply_totals.map((supply) => {
                    supplyTotalsHTML += `
                        <tr>
                            <td>${ supply.ingredient__name }</td>
                            <td>${ supply.quantity__sum }</td>
                        </tr>
                    `
                })
                $("#supplyTotals").html(supplyTotalsHTML)
                
                // TOTAL SUPPLIES USED FOR EACH PRODUCT
                let perProductSupplyTotalsHTML = ""
                for (let product of Object.keys(res.per_product_supply_totals)) {
                    let tmp = ""
                    res.per_product_supply_totals[product].map((supply) => {
                        tmp += `
                        <tr>
                            <td>${ supply.ingredient__name }</td>
                            <td>${ supply.quantity__sum }</td>
                        </tr>
                    `
                    })

                    perProductSupplyTotalsHTML += `
                    <h4>Total Supply used for ${ product }</h4>
                    <table class='table table-striped'>
                        <thead class="thead-dark">
                            <tr>
                                <td>Supply Item</td>
                                <td>Total Quantity</td>
                            </tr>
                        </thead class="thead-dark">
                        <tbody>${ tmp }</tbody>
                    </table>
                    `
                }
                $("#perProductSupplyTotals").html(perProductSupplyTotalsHTML)
                
                // LIST OF ALL SUPPLY IN
                let supplyListHTML = ""
                res.supply_inventory_list.map((supply) => {
                    supplyListHTML += `
                    <tr>
                        <td>${ supply.item__name }</td>
                        <td>${ supply.quantity }</td>
                        <td>${ supply.supplied_at }</td>
                    </tr>`
                })
                $("#supplyList").html(supplyListHTML)

                // Total Produced Per Product
                let totalPerProductHTML = ""
                res.total_production_per_product.map((product) => {
                    totalPerProductHTML += `
                    <tr>
                        <td>${ product.product__name }</td>
                        <td>${ product.quantity__sum }</td>
                    </tr>`
                })
                $("#totalPerProduct").html(totalPerProductHTML)

                // Total Sales Per Product
                let totalSalesPerProductHTML = ""
                res.total_sales.map((product) => {
                    totalSalesPerProductHTML += `
                    <tr>
                        <td>${ product.customer__name }</td>
                        <td>${ product.product__name }</td>
                        <td>${ product.quantity__sum }</td>
                    </tr>`
                })
                $("#totalSalesPerProduct").html(totalSalesPerProductHTML)

                // Total Freebies Per Product
                let totalFreebiesPerProductHTML = ""
                res.total_freebies.map((product) => {
                    totalFreebiesPerProductHTML += `
                    <tr>
                        <td>${ product.customer__name }</td>
                        <td>${ product.product__name }</td>
                        <td>${ product.freebies__sum }</td>
                    </tr>`
                })
                $("#totalFreebiesPerProduct").html(totalFreebiesPerProductHTML)
                
                // Current Inventory
                let currentInventoryHTML = ""
                for (let product of Object.keys(res.current_inventory)) {
                    currentInventoryHTML += `
                    <tr>
                        <td>${ product }</td>
                        <td>${ res.current_inventory[product] }</td>
                    </tr>`
                }
                $("#currentInventory").html(currentInventoryHTML)
            })
        }

        $(".report-date-input").on("change", (e)=> {
            e.preventDefault()

            let from = $("#reportsFrom").val()
            let to = $("#reportsTo").val()

            getReportsData(from, to)
        })
    </script>
{% endblock content %}
