{% extends "base.html" %}
{% block content %}
    <div class="form mt-5 p-5 border border-2">
        <form id="salesForm">
            <div class="form-group">
                <label for="salesType">Sales Type</label>
                <input type="text" id="salesType" class="form-control" />
            </div>
            <div class="form-group">
                <label for="productSale">Product</label>
                <select id="productSale" class="form-control">
                    <option value="none">
                        ...
                    </option>
                    {% for product in products %}
                        <option value="{{ product.id }}">
                            {{ product.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% comment %} <div class="form-group">
                <label for="customer">Customer</label>
                <select id="customer" class="form-control">
                    <option value="none">
                        ...
                    </option>
                    {% for customer in customers %}
                        <option value="{{ customer.id }}">
                            {{ customer.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="quantitySale">Sold</label>
                <input type="number" id="quantitySale" class="form-control" />
            </div>
            <div class="form-group">
                <label for="quantityFreebies">Freebie</label>
                <input type="number" id="quantityFreebies" class="form-control" />
            </div>
            <div class="form-group">
                <label for="salesRevenue">SALE (PHP)</label>
                <input type="number" id="salesRevenue" class="form-control" />
            </div> {% endcomment %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Amount Sold</th>
                        <th>Freebies</th>
                        <th>Sale</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="salesRow">
                        <td>
                            <select id="customer" class="form-control">
                                <option value="none">
                                    ...
                                </option>
                                {% for customer in customers %}
                                    <option value="{{ customer.id }}">
                                        {{ customer.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="number" id="quantitySale" class="form-control" />
                        </td>
                        <td>
                            <input type="number" id="quantityFreebies" class="form-control" />
                        </td>
                        <td>
                            <input type="number" id="salesRevenue" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <button type="button" class="btn btn-secondary" onClick="addNewTableRow()">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label for="salesDate">Date</label>
                <input type="date" id="salesDate" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit Sale</button>
        </form>
    </div>
    <script>
        function addNewTableRow () {
            let newSalesRow = `
            <tr class="salesRow">
                <td>
                    <select id="customer" class="form-control">
                        <option value="none">
                            ...
                        </option>
                        {% for customer in customers %}
                            <option value="{{ customer.id }}">
                                {{ customer.name }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="number" id="quantitySale" class="form-control" />
                </td>
                <td>
                    <input type="number" id="quantityFreebies" class="form-control" />
                </td>
                <td>
                    <input type="number" id="salesRevenue" class="form-control" />
                </td>
            </tr>
            `
            $(".salesRow").last().after(newSalesRow)
        }

        $("#salesForm").on("submit", (e) => {
            // each .salesRow, get all input data
            e.preventDefault()

            let data = {
                sales_type: String($("#salesType").val()),
                product: String($("#productSale").find(":selected").val()),
                customer: String($("#customer").find(":selected").val()),
                quantity: String($("#quantitySale").val()),
                freebies: String($("#quantityFreebies").val()) || 0,
                actual_sale: String($("#salesRevenue").val()) || 0,
                date: String($("#salesDate").val()),
            }

            request("POST", "/api/sales/", data, (res) => {
                alert("Successfully created sale entry.")
            })
        })

    </script>
{% endblock content %}
