{% extends "base.html" %}
{% block header %}
Sales Record
{% endblock header %}
{% block content %}
<div class="form-control form-control-lg mt-5 p-5 border border-2">
    <form id="salesForm">
        <div class="row">
            <div class="col-12">
                <label for="salesDate">Date</label>
                <input type="date" id="salesDate" class="form-control" />
            </div>
            <div class="col-12">
                <label for="salesType">Sales Type</label>
                <input type="text" id="salesType" class="form-control" default="Sales" />
            </div>
            <div class="col-12">
                <label for="productSale">Product</label>
                <select id="productSale" class="form-control">
                    <option value="none">
                        ...
                    </option>
                    {% for product in products %}
                    <option value="{{ product.id }}">
                        {{ product.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary mt-3 form-inline">Finalize Sale</button>
            </div>
        </div>

    </form>
    <form id="addSalesForm" class="my-5">
        <div class="row">
            <label for="customerSelect">Customer</label>
            <div class="col-md-12">
                <select class="form-control form-control-lg customerSelect" required>
                    <option value="none">Select Customer</option>
                    {% for customer in customers %}
                    <option value="{{ customer.id }}">
                        {{ customer.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <label for="quantitySale">Quantity</label>
            <div class="col-md-12">
                <input type="number" class="form-control form-control-lg quantitySale" placeholder="Amount Sold"
                    required />
            </div>

            <label for="quantityFreebies">Freebies</label>
            <div class="col-md-12">
                <input type="number" class="form-control form-control-lg quantityFreebies" placeholder="Freebies"
                    required />
            </div>

            <label for="salesRevenue">Sales Revenue</label>
            <div class="col-md-12">
                <input type="number" step=".01" class="form-control form-control-lg salesRevenue" placeholder="Sale"
                    required />
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add Sale</button>
    </form>

    <table class="table table-striped mt-2">
        <!-- existing table header structure -->
        <tbody id="salesTableBody">
            <!-- Existing rows will be populated here -->
        </tbody>
    </table>

</div>
<script>
    $("#addSalesForm").on("submit", function (e) {
        e.preventDefault();

        // Retrieve form data
        let customer = $(this).find(".customerSelect").find(":selected").text();
        let customerID = $(this).find(".customerSelect").find(":selected").val();
        let quantitySale = $(this).find(".quantitySale").val();
        let quantityFreebies = $(this).find(".quantityFreebies").val();
        let salesRevenue = $(this).find(".salesRevenue").val();

        // Clear form fields
        $(this).trigger('reset');

        // Add new sale record to table
        let newRow = `
    <tr class="salesRow">
      <td>${customer}</td>
      <td>${quantitySale}</td>
      <td>${quantityFreebies}</td>
      <td>PHP ${salesRevenue}</td>
      <td style="display:none;">${customerID}</td>
    </tr>`;

        $("#salesTableBody").append(newRow);
    });

    $("#salesForm").on("submit", function (e) {
        e.preventDefault();

        let userConfirmed = confirm("This will finalize and submit the sale. Do you want to finalize and submit the sale?");

        if (!userConfirmed) {
            // user clicked "Cancel", so don't proceed with form submission.
            return;
        }
        let data = [];

        $("#salesTableBody").find('.salesRow').each(function () {
            let row = $(this);
            let customerID = row.find('td').eq(4).text(); // assuming customerID is hidden in the 5th cell of the row
            let quantitySale = row.find('td').eq(1).text(); // gets the text from the 2nd cell of the row
            let quantityFreebies = row.find('td').eq(2).text(); // gets the text from the 3rd cell of the row
            let salesRevenueCell = row.find('td').eq(3).text(); // gets the text from the 4th cell of the row
            let salesRevenue = salesRevenueCell.replace('PHP', '').trim(); // remove the "PHP" prefix and trim the remaining string
            data.push({
                sales_type: $("#salesType").val(),
                product: $("#productSale").find(":selected").val(),
                customer: customerID,
                quantity: quantitySale,
                freebies: quantityFreebies || '0',
                actual_sale: salesRevenue || '0',
                date: $("#salesDate").val(),
            });
        });

        // Now perform the request with the gathered data.
        request("POST", "/api/sales/", data, (res) => {
            alert("Successfully created sale entry.");
            $("#productSale").val('none'); // reset product selection
            $("#salesTableBody").empty(); // clear the table after successful submission
        });
    });

</script>
{% endblock content %}