{% extends "base.html" %}
<!-- -->
{% block header %}
{% endblock header %}
<!-- -->
{% block styles %}
<style>
    .col {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>
{% endblock styles %}
<!-- -->
{% block content %}
<ul>
    <li><a href="/sales" class="card-link">Sales</a></li>
    <li><a href="/production" class="card-link">Production</a></li>
    <li><a href="/purchase" class="card-link">Purchase</a></li>
    <li><a href="/supply" class="card-link">Supply</a></li>
</ul>



{% endblock content %}